/* Invoices Table Container */
.invoices-table-container_invoiceTable {
    padding: 20px;
    margin: 20px;
    background-color: #bac0f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Table Title */
  .table-title_invoiceTable {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  /* Table Styling */
  .invoices-table_invoiceTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    background-color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .invoices-table_invoiceTable th,
  .invoices-table_invoiceTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .invoices-table_invoiceTable th {
    background-color: #6b6969;
    font-weight: bold;
    color: #fff;
  }
  
  .invoices-table_invoiceTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .invoices-table_invoiceTable tr:hover {
    background-color: #f1f1f1;
  }


  .user-info-invoiceTable {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #333;
    font-size: 16px;
  }
  
  .user-info-invoiceTable p {
    margin: 5px 0;
    font-weight: bold;
    color: #333;
  }



  /* Date Range Filters */
.date-range-filters {
  display: flex;
  gap: 30px;
}

.date-picker {
  display: flex;
  flex-direction: column;
  width: 200px;
  cursor: pointer;
}

.date-picker label {
  font-size: 12px;
  margin-bottom: 5px;
}

/* Filters Container */
.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}



/* Search Box */
.search-box-invoiceTable .search-input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}










  
  /* Responsive Design */
  @media (max-width: 768px) {
    .invoices-table-container_invoiceTable {
      padding: 10px;
    }
  
    .table-title_invoiceTable {
      font-size: 18px;
    }
  
    .invoices-table_invoiceTable {
      font-size: 14px;
    }
  }
  