/* Base styles for larger screens */
.product-table table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-inactive {
  color: red;
  font-weight: bold;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

/* Style the delete button */
.action-button .delete-button {
  background-color: #ee857b;
  cursor: pointer;
  color: #000;
}

/* Style the edit button */
.action-button .edit-button {
  background-color: #eaf389;
  cursor: pointer;
  color: #000;
}

.action-button .delete-button:hover {
  background-color: rgb(133, 5, 5);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.action-button .edit-button:hover {
  background-color: rgb(94, 94, 2);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

/* Media query for screens with max width of 1366px and height of 768px */
@media only screen and (max-width: 1366px) and (max-height: 768px) {
  .product-table th,
  .product-table td {
    padding: 8px;
    font-size: 14px;
  }

  .pagination button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .product-image {
    width: 80px;
    height: 80px;
  }

  .action-button .edit-button,
  .action-button .delete-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  /* Adjust for mobile or smaller screens */
  .product-table table {
    font-size: 14px;
  }

  .product-table th,
  .product-table td {
    word-wrap: break-word;
    font-size: 12px;
  }

  /* Adjust buttons */
  .pagination button {
    padding: 5px;
    margin: 3px;
    font-size: 12px;
  }

  .action-button .edit-button,
  .action-button .delete-button {
    font-size: 12px;
  }
}
